<div class="container publications-container">
  <h3>{{ site.publication_title | default: "Publications" }}</h3>
  {% for publication in site.data.publications %}
  {%- if publication.dissertation -%} <!-- Dissertation -->
    <!-- Layout for Dissertation -->
    <div class="row clearfix layout layout-top-middle-dissertation">
      <div class="col-xs-12 col-print-12 details">
        <h4>{{ publication.title }}</h4>
        <p><i class="fa fa-users" aria-hidden="true"></i>{{publication.authors}}</p>
        {%- if publication.finalist -%}
        <h5><i class="fa fa-trophy" aria-hidden="true"></i>{{ publication.finalist }}</h5>
        {%- endif -%}
        {%- if publication.best -%}
        <h5><i class="fa fa-trophy" aria-hidden="true"></i>{{ publication.best }}</h5>
        {%- endif -%}
        {%- if publication.sbc | publication.sibgrapi | publication.dissertation -%}
        <div class="btn-links">
          {%- if publication.pdf -%}
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href= {{publication.sbc}} target="_blank" rel="noopener">
            SBC
          </a>
          {%- endif -%} 

          {%- if publication.sibgrapi -%}
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="{{publication.sibgrapi}}" target="_blank" rel="noopener">
            SIBGRAPI
          </a>
          {%- endif -%} 

          {%- if publication.dissertation -%}
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="{{publication.dissertation}}" target="_blank" rel="noopener">
            Dissertation
        </a>
        {%- endif -%} 
        </div>
        {%- endif -%} 

      </div>
    </div>
    <!-- END -->
  {%- else -%} <!-- Papers-->
    <div class="row clearfix layout layout-top-middle">
      <div class="col-xs-12 col-print-12 details">
        <h4>{{ publication.title }}</h4>
        <p><i class="fa fa-users" aria-hidden="true"></i>{{publication.authors}}</p>
        {%- if publication.award -%}
        <h5><i class="fa fa-trophy" aria-hidden="true"></i>{{ publication.award }}</h5>
        {%- endif -%}
        {%- if publication.pdf | publication.project | publication.video -%}
        <div class="btn-links">
          {%- if publication.pdf -%}
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href= {{publication.pdf}} target="_blank" rel="noopener">
            PDF
          </a>
          {%- endif -%} 

          {%- if publication.project -%}
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="{{publication.project}}" target="_blank" rel="noopener">
            Project
          </a>
          {%- endif -%} 

          {%- if publication.video -%}
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="{{publication.video}}" target="_blank" rel="noopener">
            Video
          </a>
          {%- endif -%} 
        </div>
        {%- endif -%} 
      
      </div>
    </div>
  {%- endif -%}


  <!-- {% include {{ publication.layout | default: 'left' | append: ".html" }} item=publication %} -->
  {% endfor %}
</div>
